*.o
libm2handler*
lib/nbproject/
src/Makefile-handler.mk
config.sqlite
src/Makefile-src.mk
src/.dep.inc
nbproject/
reports/
deployment/logs/
deployment/run/

.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
example/bin/
install-sh
libtool
ltmain.sh
m4/
missing
test/calc_accept.rbc
tmp/
